//@font-face {
//  font-family: 'Proxima Nova';
//  src: url('proxima_nova_font-webfont.woff2') format('woff2'),
//  url('proxima_nova_font-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

$base-font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-roboto-slab: 'Roboto Slab', Helvetica, Arial, sans-serif;
$base-font-proxima-nova: 'Proxima Nova', sans-serif;
$primary-color-bg: #e96514;
$primary-color-text: #31343c;
$primary-color-heading: #23262f;
$secondary-color-heading: #b1b5c3;
$primary-border-color: #E6E8EC;
$notify-success-color: #4fd69c;
$notify-danger-color: #f75676;